ENVIRONMENT=development

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=w/KUbTibBrSnzz5IQQfVosFGaKkVgxREopg6++VVwPx7WRsbUAv6NlMZsKtU9KpA
POSTGRES_DATABASE=postgres
POSTGRES_SSLMODE=disable
POSTGRES_TIMEZONE=Europe/Paris
